body {
    /*background-color:black;*/
    height:100%;
    font-size:16px;
}

h1.banner-text {
    font-size:80px;
}

h2.page-title {
    font-size:36px;
}

html {
    height:100%;
}

#about-container {
    background-color:#fff;
}

#bio-start {
    margin-top:20px;
}

#connect-buttons {
    margin-top:40px;
}

#head {
    display:block;
    text-align:center;

    position:absolute;
    left:0;
    top:25%;
}


#home-container {
    min-height: 400px;
    height:80%;
}

#me-img {
    border-radius:5%;
}

#navbar-wrap {
    width:100%;
    z-index:1;
    padding-left:0;
    padding-right:0;
}

#nav-out {
    margin-bottom:0;
    border-left:none;
    border-right:none;
    border-radius:0;
}

#particles {
    z-index:-1;
}

#particles-wrap {
    position:fixed;
    z-index:-1;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#portfolio-container {
    background-color:#1b1f23;
}

#portfolio-container h2.page-title {
    color:#f3f3f3;
    margin-bottom:50px;
}

.page-title {
    text-align:center;
}

.portfolio-row {
    background-color:#fefefe;
    border-radius:5px;
    margin-bottom:20px;
    padding:25px;
}

.portfolio-title {
    margin-top:5px;
}

.portfolio-title a {
    color:inherit;
}

.portfolio-with {
    float:right;
    font-style:italic;
    font-size:18px;
    color:#454545;
}

.section-container {
    padding:70px 0 150px 0;
}

.skill-row {
    margin-bottom:25px;
}
